NEXT_PUBLIC_WS_ENDPOINT=ws://localhost:9944
NEXT_PUBLIC_IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs
NEXT_PUBLIC_PINATA_API_KEY=your_api_key
NEXT_PUBLIC_PINATA_SECRET=your_secret
NEXT_PUBLIC_CHAIN_NAME=Nexus Testnet
